<body class="dark:bg-gray-700 dark:text-gray-50 transition-colors">
  <%- include('../includes/navbar.ejs') %> <% if(error){ %>
  <p
    class="bg-red-500 py-2 px-3 rounded shadow remove-animation my-2 absolute left-5 top-28 z-50"
  >
    <%= error %>
  </p>
  <% } %>
  <section class="container flex justify-center mt-20">
    <div class="form-container w-96 bg-gray-900 py-5 px-3 rounded shadow">
      <h1
        class="text-2xl text-center mb-4 pb-3 border-b border-gray-700"
        style="font-family: rajdhaniBold"
      >
        Login
      </h1>
      <form action="/login" method="POST" class="text-black">
        <label for="email" class="text-gray-300 mb-1 block">E-Mail</label>
        <input
          class="placeholder-gray-400 w-full mb-4 rounded py-2 px-3 rounded shadow-md bg-gray-700 text-gray-200 outline-none transition-colors focus:bg-gray-800"
          type="text"
          name="email"
          value="<%= oldData.email %>"
          placeholder="e.g alireza@yahoo.com"
        />
        <label for="password" class="text-gray-300 mb-1 block">Password</label>
        <input
          class="placeholder-gray-400 w-full mb-2 rounded py-2 px-3 rounded shadow-md bg-gray-700 text-gray-200 outline-none transition-colors focus:bg-gray-800"
          type="password"
          name="password"
          placeholder="e.g 12345678"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <p style="font-family: rajdhaniSemibold" class="mb-1 text-gray-200">
          Forgot password?
          <a
            style="font-family: rajdhaniSemibold"
            class="text-red-400"
            href="/reset-password"
            >Reset Password</a
          >
        </p>
        <button
          type="submit"
          class="mx-auto block bg-purple-500 rounded shadow py-1 px-3 text-gray-300 mt-2 transition-colors hover:bg-purple-900"
        >
          Login
        </button>
      </form>
    </div>
  </section>
</body>
