<footer class="bg-gray-900">
  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a
      href="#"
      class="text-gray-500 hover:text-gray-400"
      style="font-family: RajdhaniBold"
      >Uwen Store</a
    >
    <p class="py-2 text-gray-500 sm:py-0">
      All rights reserved for
      <span class="text-red-600" style="font-family: RajdhaniSemibold"
        >Uwen Store</span
      >
    </p>
  </div>
</footer>
