<!DOCTYPE html>
<html x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/watch.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/tailwindcss/dist/tailwind-dark.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dist/apexcharts.css">
    <title><%= title %></title>
  </head>
  <%- body %>
  <!--! ----Scripts---- -->
  <script src="/dist/apexcharts.min.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/alpine.js"></script>
  <script src="/js/init-alpine.js"></script>
</html>
