<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/watch.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/tailwindcss/dist/tailwind-dark.min.css" />
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <title><%= title %></title>
  </head>
  <%- body %>
  <script src="/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/alpine.js"></script>
  <script>
    //! Swiper Configs
    let swiper = new Swiper(".swiper-container", {
      spaceBetween: 0,
      slidesPerGroup: 4,
      // loop: true,
      loopFillGroupWithBlank: true,
      // autoplay: {
      //   delay: 3000,
      //   disableOnInteraction: true,
      // },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        550: {
          slidesPerView: 2,
        },
        760: {
          slidesPerView: 3,
        },
        1024: {
          slidesPerView: 4,
        },
      },
    });
  </script>
</html>
