<body class="dark:bg-gray-900">
  <div class="flex items-center justify-center w-full h-screen flex-col">
    <h1 style="font-family: RajdhaniBold" class="text-8xl text-red-500">
      404!
    </h1>
    <h3 class="text-gray-300 text-2xl mt-5">
      Sorry, This page not founded...!
    </h3>
    <a
      href="/"
      class="bg-indigo-500 px-4 py-2 rounded shadow text-white mt-5"
      style="font-family: RajdhaniSemibold"
      >Back to Home page</a
    >
  </div>
</body>
